body{
  background-color: #AFD0BF;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #03312E;
}

a {
  color: #69385C;
}

h3{
    background-color: #CFB1B7;
    border-radius: 50px;
    padding: 5px;
    padding-left: 15px;

}

.center {
  background-color: #CFB1B7;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
}

.main-image {
  max-width:50%;
  max-height:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}